EMBEDDINGS_API_URL=https://embeddings.myia.io/v1/embeddings
EMBEDDINGS_MODEL=qwen3-4b-awq-embedding
EMBEDDINGS_API_KEY=365f36ffbff3f43de53299625590381aa48eaf3cf8cc3b6162b59559cb35a9d500e6f1
EMBEDDINGS_TIMEOUT_SECONDS=20
